button {
  margin: 10px 5px;
  padding: 5px;
  background-color: wheat;
}

canvas {
  display: block;
}

user {
  color: red;
}

#run {
  background-color: lightGreen;
}

#stop {
  background-color: pink;
}

#check {
  background-color: orange;
}