body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}

button {
	height: 25px;
	margin: 5px 1px;
}

code {
  font-size: 80%;
  font-family: Courier;
  color: blue;
}

li {
  margin-bottom: 12px;
}

pre {
  font-family: monospace;
  line-height: 130%;
}

user {
  color: red;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
}

func {
  background-color: white;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}
